.result-name-card {
    color: aliceblue;
    background-color: rgb(119, 0, 255);
    border-radius: 10px;
    margin: 10px 15px;
    display: flex;
    justify-content: center;
    min-width: 75px;
    padding: 10px 20px;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.1);
    transition: background 0.35s;
}

.result-name-card:hover {
    background: rgb(0, 119, 255);
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
}

.result-name {
    margin: 0;
    font-weight: 100;
}
